$version: "0.0.1";
/**
 * Colors setting
 */

$color-red: #CB1B45;
$color-yellow: #F7D94C;
$color-green: #86C166;
$color-blue: #58B2DC;
$color-purple: #592C63;
$color-white: #fff;
$color-black: #000;
$color-grey: #ccc;