$version: "0.0.1";
/**
 * Colors setting
 */
@use "sass:color";

$color-red: #dd4b39 !default; // 紅, KURENAI 
$color-red-light: color.scale($color-red,$lightness: 10%);
$color-red-dark: color.scale($color-red,$lightness: -10%);
$color-yellow: #F7D94C !default; // 菜の花, NANOHANA
$color-green: #86C166 !default; // 苗, NAE
$color-blue: #58B2DC !default; // 空, SORA
$color-purple: #592C63 !default; // 紫, MURASAKI
$color-white: #fff !default;
$color-black: #080808 !default; // 黒, KURO
$color-grey: #828282 !default; // 灰, HAI
$color-primary: $color-blue;