// File Begins
@import "var";
/*! ReCss v#{$version} | MIT License | github.com/eiko-g/Re-CSS */

@import "normalize";

p {
    color: $color-red;
    color: $color-red-light;
    color: $color-red-dark;
}